h1{
    font-family: 'Anta' , 'Bebas+Neue' , 'Caveat';
    text-align: center;
  }

.art{
    margin: auto;
}

td{
    border: 10px solid white;
    height: 200px;
    padding: 100px;
}

#one{
    background-color: #264653;
}

#two{
    background-color: #2A9D8F;
}

#three{
    background-color: #E9C46A;
}

#four{
    background-color: #F4A261;
}

#five{
    background-color: #E76F51
}
